Repository axa-group/bauta.js, pull requests merged in 2022-10, with the labels that each got.

#43 fix(bautajs-fastify): bump fastify
  CHANGELOG.md
  packages/bautajs-core/CHANGELOG.md
  packages/bautajs-datasource-rest/CHANGELOG.md
  packages/bautajs-decorator-cache/CHANGELOG.md
  packages/bautajs-express-example/CHANGELOG.md
  packages/bautajs-express/CHANGELOG.md
  packages/bautajs-fastify/CHANGELOG.md
  packages/bautajs-fastify/package.json
Labels: documentation, bautajs-fastify, 2.x

#44 chore(release): v2.0.1
  lerna.json
  packages/bautajs-core/package.json
  packages/bautajs-datasource-rest/package.json
  packages/bautajs-decorator-cache/package.json
  packages/bautajs-express-example/package.json
  packages/bautajs-express/package.json
  packages/bautajs-fastify/package.json
Labels: release

#45 fix(bautajs-fastify-example): add example server in fastify
  README.md
  packages/bautajs-fastify-example/CHANGELOG.md
  packages/bautajs-fastify-example/LICENSE.TXT
  packages/bautajs-fastify-example/README.md
  packages/bautajs-fastify-example/api-definition.json
  packages/bautajs-fastify-example/package.json
  packages/bautajs-fastify-example/registrator.js
  packages/bautajs-fastify-example/server.js
  packages/bautajs-fastify-example/server/hooks/logger-hook.js
  packages/bautajs-fastify-example/server/resolvers/v1/source/articles-datasource.js
  packages/bautajs-fastify-example/server/resolvers/v1/source/articles-resolver.js
  packages/bautajs-fastify-example/server/resolvers/v1/source/cache-resolver.js
  packages/bautajs-fastify-example/server/resolvers/v1/source/cats-datasource.js
  packages/bautajs-fastify-example/server/resolvers/v1/source/chuck-datasource.js
  packages/bautajs-fastify-example/server/resolvers/v1/source/numbers-datasource.js
  packages/bautajs-fastify-example/server/resolvers/v1/source/numbers-resolver.js
Labels: 2.x, bautajs-fastify-example
