Repository axa-group/bauta.js, pull requests merged in 2022-07, with the labels that each got.

#26 chore: adjust bauta-admins ownership
  .github/CODEOWNERS
Labels: repository

#28 feat(core): add support for promises to tap decorator
  packages/bautajs-core/src/decorators/__tests__/tap.test.ts
  packages/bautajs-core/src/decorators/tap.ts
Labels: enhancement, bautajs-core

#29 fix(core): allow steps without return inside tap
  packages/bautajs-core/src/decorators/__tests__/tap.test.ts
  packages/bautajs-core/src/decorators/tap.ts
Labels: bug, bautajs-core
