Repository axa-group/bauta.js, pull requests merged in 2022-09, with the labels that each got.

#35 feat(core, express, datasource-rest): bump pino to v8.x
  README.md
  package.json
  packages/bautajs-core/README.md
  packages/bautajs-core/package.json
  packages/bautajs-core/src/__tests__/bauta.logger.test.ts
  packages/bautajs-datasource-rest/src/__tests__/datasource-rest.test.ts
  packages/bautajs-example/README.md
  packages/bautajs-example/package.json
  packages/bautajs-example/server/instances/custom-logger-bauta.js
  packages/bautajs-example/server/resolvers/v1/source/cache-resolver.js
  packages/bautajs-express/README.md
  packages/bautajs-express/package.json
  packages/bautajs-express/src/__tests__/express.test.ts
  packages/bautajs-express/src/index.ts
  packages/bautajs-express/src/middlewares.ts
  packages/bautajs-fastify/README.md
Labels: bug, dependencies, bautajs-core, bautajs-express, bautajs-datasource-rest, bautajs-example

#37 chore(release): v2.0.0-alpha.0
  lerna.json
  packages/bautajs-core/package.json
  packages/bautajs-datasource-rest/package.json
  packages/bautajs-decorator-cache/package.json
  packages/bautajs-example/package.json
  packages/bautajs-express/package.json
  packages/bautajs-fastify/package.json
Labels: release

#38 fix(bautajs-fastify): remove dependency from fastify-x-request-id
  packages/bautajs-fastify/README.md
  packages/bautajs-fastify/package.json
  packages/bautajs-fastify/src/index.ts
  packages/bautajs-fastify/src/x-request-id-plugin.ts
Labels: bautajs-fastify

#39 chore(release): v2.0.0-alpha.1
  lerna.json
  packages/bautajs-core/package.json
  packages/bautajs-datasource-rest/package.json
  packages/bautajs-decorator-cache/package.json
  packages/bautajs-example/package.json
  packages/bautajs-express/package.json
  packages/bautajs-fastify/package.json
Labels: release

#40 fix(bautajs-express-example): rename example express project
  packages/bautajs-example/README.md
  packages/bautajs-express-example/CHANGELOG.md
  packages/bautajs-express-example/LICENSE.TXT
  packages/bautajs-express-example/README.md
  packages/bautajs-express-example/api-definition.json
  packages/bautajs-express-example/package.json
  packages/bautajs-express-example/server.js
  packages/bautajs-express-example/server/instances/bauta-with-custom-logger.js
  packages/bautajs-express-example/server/instances/bauta.js
  packages/bautajs-express-example/server/instances/custom-logger-bauta.js
  packages/bautajs-express-example/server/resolvers/v1/source/cache-resolver.js
  packages/bautajs-express-example/server/resolvers/v1/source/cats-datasource.js
  packages/bautajs-express-example/server/resolvers/v1/source/chuck-datasource.js
  packages/bautajs-express-example/server/resolvers/v1/source/numbers-datasource.js
  packages/bautajs-express-example/server/resolvers/v1/source/numbers-resolver.js
  packages/bautajs-express-example/server/resolvers/v1/source/operation1-resolver.js
  packages/bautajs-express-example/server/resolvers/v1/source/source-datasource.js
Labels: bautajs-example-express

#41 chore(release): v2.0.0
  lerna.json
  packages/bautajs-core/package.json
  packages/bautajs-datasource-rest/package.json
  packages/bautajs-decorator-cache/package.json
  packages/bautajs-express-example/package.json
  packages/bautajs-express/package.json
  packages/bautajs-fastify/package.json
Labels: release
