Repository axa-group/bauta.js, pull requests merged in 2023-01, with the labels that each got.

#63 feat!: expose cache decorator as part of bauta.js core
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  README.md
  docs/decorators/cache.md
  lerna.json
  package.json
  packages/bautajs-core/package.json
  packages/bautajs-core/src/__tests__/cache-setup.test.ts
  packages/bautajs-core/src/__tests__/cache-usage.test.ts
  packages/bautajs-core/src/__tests__/utils.ts
  packages/bautajs-core/src/decorators/cache.ts
  packages/bautajs-core/src/index.ts
  packages/bautajs-datasource-rest/package.json
  packages/bautajs-decorator-cache/.npmignore
  packages/bautajs-decorator-cache/CHANGELOG.md
  packages/bautajs-decorator-cache/LICENSE.TXT
  packages/bautajs-decorator-cache/jest.config.js
  packages/bautajs-decorator-cache/package.json
  packages/bautajs-decorator-cache/src/__mocks__/memoizee.js
  packages/bautajs-decorator-cache/src/types.ts
  packages/bautajs-decorator-cache/tsconfig.json
  packages/bautajs-express-example/README.md
  packages/bautajs-express-example/package.json
  packages/bautajs-express-example/server/resolvers/v1/source/cache-resolver.js
  packages/bautajs-express/package.json
  packages/bautajs-fastify-example/README.md
  packages/bautajs-fastify-example/package.json
  packages/bautajs-fastify-example/server/resolvers/v1/source/cache-resolver.js
  packages/bautajs-fastify/package.json
  tsconfig.build.json
Labels: major, 3.x, 2.x

#64 feat: add documentation for newcomers to bauta.js
  README.md
  docs/developer-experience/readme.md
  docs/developer-experience/service-conceptual-hlv.png
  packages/bautajs-express-example/README.md
  packages/bautajs-express-example/api-definition.json
  packages/bautajs-express-example/server.js
  packages/bautajs-express-example/server/datasources/articles-datasource.js
  packages/bautajs-express-example/server/datasources/cats-datasource.js
  packages/bautajs-express-example/server/datasources/chuck-datasource.js
  packages/bautajs-express-example/server/datasources/numbers-datasource.js
  packages/bautajs-express-example/server/resolvers/articles-resolver.js
  packages/bautajs-express-example/server/resolvers/cache-resolver.js
  packages/bautajs-express-example/server/resolvers/cats-resolver.js
  packages/bautajs-express-example/server/resolvers/minimap-resolver.js
  packages/bautajs-express-example/server/resolvers/numbers-resolver.js
  packages/bautajs-express-example/server/resolvers/v1/source/operation1-resolver.js
  packages/bautajs-express-example/server/resolvers/v1/source/source-datasource.js
  packages/bautajs-fastify-example/README.md
  packages/bautajs-fastify-example/api-definition.json
  packages/bautajs-fastify-example/registrator.js
  packages/bautajs-fastify-example/server/datasources/articles-datasource.js
  packages/bautajs-fastify-example/server/datasources/cats-datasource.js
  packages/bautajs-fastify-example/server/datasources/chuck-datasource.js
  packages/bautajs-fastify-example/server/datasources/numbers-datasource.js
  packages/bautajs-fastify-example/server/resolvers/articles-resolver.js
  packages/bautajs-fastify-example/server/resolvers/cache-resolver.js
  packages/bautajs-fastify-example/server/resolvers/cats-resolver.js
  packages/bautajs-fastify-example/server/resolvers/minimap-resolver.js
  packages/bautajs-fastify-example/server/resolvers/numbers-resolver.js
  packages/bautajs-fastify-example/server/resolvers/v1/source/articles-datasource.js
  packages/bautajs-fastify-example/server/resolvers/v1/source/articles-resolver.js
  packages/bautajs-fastify-example/server/resolvers/v1/source/chuck-datasource.js
  packages/bautajs-fastify-example/server/resolvers/v1/source/numbers-resolver.js
Labels: documentation, bautajs-example-express, 2.x, bautajs-fastify-example

#66 feat: add documentation for newcomers
  README.md
  docs/developer-experience/readme.md
  docs/developer-experience/service-conceptual-hlv.png
  packages/bautajs-express-example/README.md
  packages/bautajs-express-example/api-definition.json
  packages/bautajs-express-example/server.js
  packages/bautajs-express-example/server/datasources/articles-datasource.js
  packages/bautajs-express-example/server/datasources/cats-datasource.js
  packages/bautajs-express-example/server/datasources/chuck-datasource.js
  packages/bautajs-express-example/server/datasources/numbers-datasource.js
  packages/bautajs-express-example/server/resolvers/articles-resolver.js
  packages/bautajs-express-example/server/resolvers/cache-resolver.js
  packages/bautajs-express-example/server/resolvers/cats-resolver.js
  packages/bautajs-express-example/server/resolvers/minimap-resolver.js
  packages/bautajs-express-example/server/resolvers/numbers-resolver.js
  packages/bautajs-express-example/server/resolvers/v1/source/operation1-resolver.js
  packages/bautajs-express-example/server/resolvers/v1/source/source-datasource.js
  packages/bautajs-fastify-example/README.md
  packages/bautajs-fastify-example/api-definition.json
  packages/bautajs-fastify-example/registrator.js
  packages/bautajs-fastify-example/server/datasources/articles-datasource.js
  packages/bautajs-fastify-example/server/datasources/cats-datasource.js
  packages/bautajs-fastify-example/server/datasources/chuck-datasource.js
  packages/bautajs-fastify-example/server/datasources/numbers-datasource.js
  packages/bautajs-fastify-example/server/resolvers/articles-resolver.js
  packages/bautajs-fastify-example/server/resolvers/cache-resolver.js
  packages/bautajs-fastify-example/server/resolvers/cats-resolver.js
  packages/bautajs-fastify-example/server/resolvers/minimap-resolver.js
  packages/bautajs-fastify-example/server/resolvers/numbers-resolver.js
  packages/bautajs-fastify-example/server/resolvers/v1/source/articles-datasource.js
  packages/bautajs-fastify-example/server/resolvers/v1/source/articles-resolver.js
  packages/bautajs-fastify-example/server/resolvers/v1/source/chuck-datasource.js
  packages/bautajs-fastify-example/server/resolvers/v1/source/numbers-resolver.js
Labels: 3.x, bautajs-example-express, bautajs-fastify-example

#67 chore(release): v2.1.0
  lerna.json
  packages/bautajs-core/package.json
  packages/bautajs-datasource-rest/package.json
  packages/bautajs-decorator-cache/package.json
  packages/bautajs-express-example/package.json
  packages/bautajs-express/package.json
  packages/bautajs-fastify-example/package.json
  packages/bautajs-fastify/package.json
Labels: release, 2.x

#69 fix: remove route-order
  docs/developer-experience/decorators.md
  package.json
  packages/bautajs-core/src/decorators/__tests__/catch-error.test.ts
  packages/bautajs-core/src/decorators/__tests__/iif.test.ts
  packages/bautajs-core/src/decorators/__tests__/pipeline.test.ts
  packages/bautajs-express-example/README.md
  packages/bautajs-express-example/api-definition.json
  packages/bautajs-express-example/server.js
  packages/bautajs-express-example/server/resolvers/multiple-path-resolver.js
  packages/bautajs-express/README.md
  packages/bautajs-express/package.json
  packages/bautajs-express/src/__tests__/express.test.ts
  packages/bautajs-express/src/__tests__/fixtures/test-api-definitions-swagger-path-ordering.json
  packages/bautajs-express/src/__tests__/fixtures/test-resolvers/path-ordering-general-first-resolver.js
  packages/bautajs-express/src/__tests__/fixtures/test-resolvers/path-ordering-specific-first-resolver.js
  packages/bautajs-express/src/__tests__/routes-order.test.ts
  packages/bautajs-express/src/index.ts
  packages/bautajs-express/src/routes-order.ts
  packages/bautajs-fastify-example/README.md
  packages/bautajs-fastify-example/api-definition.json
  packages/bautajs-fastify-example/server/resolvers/multiple-path-resolver.js
  packages/bautajs-fastify/README.md
  packages/bautajs-fastify/package.json
  packages/bautajs-fastify/src/__tests__/fastify.test.ts
  packages/bautajs-fastify/src/__tests__/fixtures/test-api-definitions-swagger-path-ordering.json
  packages/bautajs-fastify/src/__tests__/fixtures/test-resolvers/path-ordering-general-first-resolver.js
  packages/bautajs-fastify/src/__tests__/fixtures/test-resolvers/path-ordering-specific-first-resolver.js
  packages/bautajs-fastify/src/expose-routes.ts
  tsconfig.base.json
  tsconfig.build.json
  tsconfig.test.json
  types/route-order.d.ts
Labels: bug, bautajs-fastify, bautajs-express, 3.x, bautajs-example-express, bautajs-fastify-example

#72 fix(bautajs-express-example, bautajs-fastify-example): add service to showcase request cancellation
  packages/bautajs-express-example/README.md
  packages/bautajs-express-example/api-definition.json
  packages/bautajs-express-example/server/resolvers/cancel-request-resolver.js
  packages/bautajs-fastify-example/README.md
  packages/bautajs-fastify-example/api-definition.json
  packages/bautajs-fastify-example/server/resolvers/cancel-request-resolver.js
Labels: 3.x, bautajs-example-express, bautajs-fastify-example
